
<link rel="stylesheet" type="text/css" href="user.css">

<div class="user_box">
	<div class="user_box_top">
		<img src="../../img/u=2680692967,800328718&fm=21&gp=0.jpg" />
		<div>
			<img src="../../img/u=2680692967,800328718&fm=21&gp=0.jpg" /">
			<div >
				<span class="iconfont">&#xe605;</span>
				<span class="iconfont">&#xe608;</span>
			</div>
		</div>
	</div>
	<div class="user_box_bottom">
		<ul>
				<li>
					<a href="javascript:void(0)"><span class="iconfont">&#xe608;</span>我是代言人</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span class="iconfont">&#xe608;</span>我的订单</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span class="iconfont">&#xe608;</span>我的优惠券</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span class="iconfont">&#xe608;</span>我的账户</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span class="iconfont">&#xe608;</span>玩乐商城</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span class="iconfont">&#xe608;</span>我要吐槽</a>
				</li>
			</ul>	
	</div>
</div>













