<link rel="stylesheet" type="text/css" href="leyuan.css">

<div class="leyuan_box">
	<div class="leyuan_box_top">
		<div class="leyuan_box_top_nav">
			<div class="leyuan_box_top_nav_1">分类</div>
			<div class="leyuan_box_top_nav_2">全城</div>
			<div class="leyuan_box_top_nav_3">排序</div>
		</div>
		<ul class="leyuan_box_top_area">
			<li>
				<a href="javascript:void(0)">全城</a>
			</li>
			<li>
				<a href="javascript:void(0)">东城区</a>
			</li>
			<li>
				<a href="javascript:void(0)">西城区</a>
			</li>
			<li>
				<a href="javascript:void(0)">崇文区</a>
			</li>
			<li>
				<a href="javascript:void(0)">玄武区</a>
			</li>
			<li>
				<a href="javascript:void(0)">朝阳区</a>
			</li>
			<li>
				<a href="javascript:void(0)">丰台区</a>
			</li>
			<li>
				<a href="javascript:void(0)">石景山区</a>
			</li>
			<li>
				<a href="javascript:void(0)">海淀区</a>
			</li>
			<li>
				<a href="javascript:void(0)">门头沟区</a>
			</li>
			<li>
				<a href="javascript:void(0)">房山区</a>
			</li>
			<li>
				<a href="javascript:void(0)">通州区</a>
			</li>
			<li>
				<a href="javascript:void(0)">顺义区</a>
			</li>
			<li>
				<a href="javascript:void(0)">昌平区</a>
			</li>
			<li>
				<a href="javascript:void(0)">大兴区</a>
			</li>
			<li>
				<a href="javascript:void(0)">怀柔区</a>
			</li>
			<li>
				<a href="javascript:void(0)">平谷区</a>
			</li>
			<li>
				<a href="javascript:void(0)">密云区</a>
			</li>
			<li>
				<a href="javascript:void(0)">延庆区</a>
			</li>
		</ul>
	</div>
	<div class="leyuan_box_content">
		<ul></ul>
	</div>
</div>
